:root, :before, :after{
  --bg-2:#FFFFFF;  
  --color-border-dark:0 0 0;
  --color-border-light:255 255 255;
  --color-text-1:#757575; 
  --color-text-2:#212121;
  --color-text-3:#D71921;
  --color-text-4:#0076FF;
  --color-border:#E0E0E0;
  --rounded-1:var(--size-1);
  --rounded-2:var(--size-2);
  --rounded-3:var(--size-4);
  --hover-opacity:0.34;
  --transition-default:all 0.34s;
  --shadow-default:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  --shadow-neumorp:-2px -2px 4px rgba(255,255,255,.2), 2px 2px 12px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
}



body, html{color:var(--color-text-1);}
html{background-color:var(--color-text-2);}
body.freeze-scroll{overflow:hidden;}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-text-2); fill:var(--color-text-2);}
a:hover, button:hover{color:var(--color-text-3); fill:var(--color-text-3);}
.btn, a.btn, button.btn{background-color:var(--color-text-3); color:var(--bg-1); fill:var(--bg-1); border-radius:62px;}
.btn:hover, a.btn:hover, button.btn:hover{filter:grayscale(1);}
#btt{position:fixed; bottom:calc(var(--size-6) * 2); right:0; cursor:pointer;
z-index:calc(var(--max-zindex) - 4000); width:40px; height:40px; background-color:var(--color-text-3); fill:var(--bg-2);
border-top-left-radius:var(--rounded-2); border-bottom-left-radius:var(--rounded-2);}
#btt:hover, #btt:focus{background-color:var(--color-text-2);}
.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-text-2);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



.default-box{background-color:var(--bg-2); border-color:var(--color-border); border-radius:var(--rounded-2); overflow:hidden;}



.section-title{fill:var(--color-text-1); color:var(--color-text-1);}
a.section-title{fill:var(--color-text-3);}
.section-title-info{fill:var(--color-text-3);}
.section-title-info:hover{fill:var(--color-text-2);}



.section-search-field{background-color:transparent;}
.section-search-field::placeholder{color:var(--color-border);}
.section-search-filter{border-left-color:var(--color-border); border-right-color:var(--bg-2);}
.section-search-filter:hover{background-color:var(--color-text-2); fill:var(--bg-2);}
button.section-search-button{border-radius:0;}



nav{background:var(--bg-2); box-shadow:var(--shadow-default);}
.nav-list{border-color:var(--color-border); color:var(--color-text-1); fill:var(--color-text-1);}
.nav-sub .nav-list{fill:var(--color-border);}
.nav-list:hover{color:var(--color-text-1); fill:var(--color-text-1); background-color:rgb(var(--color-border-dark) / 5%);}
.nav-list .svgicon{transition:var(--transition-default);}
.nav-box > .nav-open{color:var(--color-text-2); fill:var(--color-text-2);}
.nav-curr{color:var(--color-text-3) !important; fill:var(--color-text-3) !important; opacity:1 !important; background-color:var(--bg-2) !important; cursor:default !important;}



header{background:var(--bg-2); box-shadow:var(--shadow-default); border-radius:var(--rounded-2);}
.header-profile-frame{border-radius:50%; overflow:hidden;}



footer{background-color:var(--color-text-2); color:var(--bg-2); text-align:center; font-size:12px; padding:var(--size-4);}



.form-box-field{border-color:var(--color-border); background-color:transparent; border-radius:var(--rounded-2);}
.form-box-title{transition:var(--transition-default); color:var(--color-border);}
.form-toggle-password{fill:var(--color-text-1);}

.form-box-field:focus + .form-box-title, .form-box-field:valid + .form-box-title{background-color:var(--bg-1); color:var(--color-text-1);}

.form-box-error .form-box-field:focus + .form-box-title, .form-box-error .form-box-field:valid + .form-box-title,
.form-box-error .form-box-note{color:var(--color-text-3) !important;}
.form-box-error .form-box-field{border-color:var(--color-text-3) !important;}



.sfl-box{background-color:var(--bg-2); border-color:var(--color-border); border-radius:var(--rounded-2);}
.sfl-question{border-color:var(--color-border);}
.sfl-answer{color:var(--color-text-1); fill:var(--color-text-3);}
.sfl-answer:hover{color:var(--color-text-2); fill:var(--color-text-2);}



a.dtc-data{color:var(--color-text-3);}
a.dtc-data:hover{color:var(--color-text-2);}



.default-tab-link{border-color:var(--color-border);}
.default-tab-link:hover{background-color:var(--color-text-2); color:var(--bg-2);}
.default-tab-curr{background-color:var(--color-text-3) !important; color:var(--bg-2) !important;}



.ddb-row{border-color:var(--color-border);}
.ddb-content-field, .ddb-content-disable{border-color:var(--color-border); background-color:transparent; border-radius:var(--rounded-2);}
.ddb-content{color:var(--color-text-2);}
.ddb-alert .svgicon{fill:var(--color-text-3);}
.ddb-content-disable{background-color:var(--color-border);}
.ddb-select .svgicon{fill:var(--color-text-1);}



.pagination-list, .pagination-number{display:flex; flex-wrap:wrap;}
.pagination-info, .pagination-button{margin-right:var(--size-2); margin-bottom:var(--size-2);}
.pagination-button{padding:var(--size-2) var(--size-3); border:1px solid var(--color-border); border-radius:var(--rounded-2);}
.pagination-button:hover{border-color:var(--color-text-3);}
.pagination-curr{background-color:var(--color-text-3); border-color:var(--color-text-3); color:var(--bg-2) !important;}





@media screen and (min-width:0px) and (max-width:1023px){
  .default-table-row{background-color:var(--bg-2); border-color:var(--color-border); border-radius:var(--rounded-2);}
  .default-table-column{border-color:var(--color-border);}
}





@media screen and (min-width:0px) and (max-width:1279px){
  nav{transition:var(--transition-default); border-radius:var(--rounded-2);}
  .nav-clicked nav{left:var(--size-4);}
}





@media screen and (min-width:1024px){
  .default-table{background-color:var(--bg-2); border-color:var(--color-border); border-radius:var(--rounded-2); overflow:hidden;}
  .default-table-head{background-color:var(--color-text-2); color:var(--bg-2);}
  .default-table-row:nth-child(even){background-color:var(--bg-1);}
  .default-table-column{border-color:var(--color-border);}
  
  .dts-box{border-color:var(--color-border); border-radius:var(--rounded-1);}
}





@media screen and (min-width:1280px){
  .rancak-container{transition:var(--transition-default);}
  .nav-clicked .rancak-container{grid-template-columns:0px 1fr;}
  
  
  
  .nav-clicked nav{width:0px;}
}
