.running-text .section-title{margin-bottom:var(--size-3);}
.running-text .acme-news-ticker-box{background-color:var(--bg-2); border:1px solid var(--color-border); border-radius:var(--rounded-2);}
.running-text .antb-list{display:flex;}
.running-text .antb-link{border-color:var(--color-border); -webkit-line-clamp:1; font-size:14px;
display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}



.home-banner, .home-banner-link{border-radius:var(--rounded-2); overflow:hidden;}
.home-banner{position:relative; z-index:1;}
.home-banner-link{--aspect-ratio:16/9;}





@media screen and (min-width:0px) and (max-width:767px){
  .home-banner .tns-nav, .home-banner .tns-controls{display:none;}
  
  
  
  .home-banner .tns-transparent{display:none !important;}
  .home-banner .tns-inner{margin:0 !important;}
  .home-banner-container, .home-banner-link{width:100% !important;}
  .home-banner-container{display:grid; grid-gap:var(--size-1); transform:inherit !important;}
  .home-banner-link{padding:0 !important;}
  
}





@media screen and (min-width:768px){
  .home-banner .tns-nav{position:absolute; z-index:2000; bottom:0; left:0; width:100%; display:flex; justify-content:center; padding:var(--size-3);}
  .home-banner .tns-nav button{width:var(--size-3); height:var(--size-3); background-color:var(--bg-2); margin:0 var(--size-1); box-shadow:var(--shadow-default);
  border-radius:50%; border:1px solid rgb(var(--color-border-dark) / 34%);}
  .home-banner .tns-nav .tns-nav-active{background-color:var(--color-text-3);}
  .home-banner .tns-controls button{position:absolute; z-index:3000; top:0; height:100%; padding:var(--size-3);}
  .home-banner .tns-controls button[data-controls="prev"]{left:0;}
  .home-banner .tns-controls button[data-controls="next"]{right:0;}
}
