*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1280px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --menu-size:275px;
  --bg-1:#FAFAFA;
}



body, html{font-family:'Nunito',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh;}
body{background-color:var(--bg-1); overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block; padding-top:calc(100% / calc(var(--aspect-ratio)));}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.rancak-container{display:grid; min-height:100vh;}



nav{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 5000); top:0; left:0; width:100%; overflow-x:hidden; overflow-y:auto;}
nav::-webkit-scrollbar{width:0px;}
.nav-list{display:grid; grid-template-columns:auto 1fr auto; grid-gap:var(--size-3); width:100%; padding:0 var(--size-4); border-bottom:1px solid; font-weight:normal;}
.nav-list > *{display:flex; align-items:center; height:var(--size-6);}
.nav-list .svgicon{width:16px; height:auto;}
.nav-label{font-size:14px;}
.nav-sub{display:none;}
.nav-sub .nav-list{border-style:dashed;}
.nav-box > .nav-open, .nav-curr{font-weight:bold;}
.nav-open .nav-arrow-toogle .svgicon{transform:rotate(180deg);}





@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only, .share-box-static{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  nav{height:50vh;}
  .nav-label{}
}





@media screen and (min-width:1024px){
  :root, :before, :after{
    --default-fontsize:16px;
  }
  .mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  
  
  
  .rancak-container{grid-template-columns:var(--menu-size) 1fr;}
  
  
  
  nav{height:100vh;}
}
