*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1280px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --menu-size:275px;
  --bg-1:#FAFAFA;
}



body, html{font-family:'Nunito',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh;}
body{background-color:var(--bg-1); overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); -webkit-appearance:none; text-transform:uppercase; font-weight:bold;
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.toyota-logo{--aspect-ratio:377/271;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block; padding-top:calc(100% / calc(var(--aspect-ratio)));}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.section-title{display:flex; align-items:center;}
.section-title .svgicon, .section-title-label{line-height:140%;}
.section-title .svgicon{width:auto; height:24px;}
.section-title-label{margin-left:var(--size-3); text-transform:uppercase; font-weight:normal; font-size:32px;}
.section-default{display:grid; grid-gap:var(--size-3);}



.section-search{display:grid; grid-template-columns:1fr auto auto; border:1px solid;}
.section-search-field{padding:var(--size-4); width:100%;}
.section-search-filter{padding:0 var(--size-4); border-left:1px solid; border-right:2px solid;}
.section-search-filter .svgicon{width:auto; height:var(--size-4);}
button.section-search-button{padding:var(--size-4);}



.rancak-container{display:grid; min-height:100vh; grid-auto-rows:min-content;}
.rancak-content{display:grid; grid-gap:var(--size-5); grid-auto-rows:min-content;}



nav{z-index:calc(var(--max-zindex) - 5000); top:0; overflow-x:hidden; overflow-y:auto;}
nav::-webkit-scrollbar{width:0px;}
.nav-list{display:grid; grid-template-columns:auto 1fr auto; grid-gap:var(--size-3); width:100%; padding:0 var(--size-4); border-bottom:1px solid; font-weight:normal;}
.nav-list > *{display:flex; align-items:center; height:var(--size-6);}
.nav-list .svgicon{width:16px; height:auto;}
.nav-label{font-size:14px;}
.nav-sub{display:none;}
.nav-sub .nav-list{border-style:dashed;}
.nav-box > .nav-open, .nav-curr{font-weight:bold;}
.nav-open .nav-arrow-toogle .svgicon{transform:rotate(180deg);}



.rancak-content{padding:var(--size-4); min-height:144vh;}



header{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 4000); top:var(--size-4); display:flex; justify-content:space-between;}
.header-left, .header-right{display:flex;}
.header-button{height:var(--size-6); padding:0 var(--size-3);}
.header-button .svgicon, .header-home-frame{width:auto; height:var(--size-4);}

.header-menu-toggle{padding-left:var(--size-4);}
.header-home-frame{width:30px;}
.header-profile{--aspect-ratio:1/1; display:flex; align-items:center; padding-right:var(--size-4);}
.header-profile-frame{width:var(--size-4); height:var(--size-4); margin-right:var(--size-3);}



.form-box-container{--icon-size:var(--size-6); position:relative;}
.form-box-field{position:relative; z-index:2000; width:100%; padding:var(--size-4); border:1px solid;}
.form-password-field{padding-right:var(--icon-size);}
.form-box-title{position:absolute; z-index:1; top:0; left:0; width:100%; height:100%; padding:var(--size-4); text-transform:capitalize;}
.form-toggle-password{position:absolute; z-index:3000; top:0; right:0; width:var(--icon-size); height:100%;}
.form-toggle-password .svgicon{width:auto; height:var(--size-4);}
.form-toggle-password.show-pass .svgicon-pass-show, .form-toggle-password.hide-pass .svgicon-pass-hide{display:none;}
.form-box-note{margin-top:var(--size-2); font-size:12px; font-style:italic;}

.form-box-field:focus + .form-box-title,
.form-box-field:valid + .form-box-title{z-index:4000; top:calc(var(--size-2) * -1); left:var(--size-2); width:auto; height:auto; padding:0 var(--size-3); line-height:100%;}



.section-faq-list{display:grid; grid-gap:var(--size-2);}
.sfl-box{padding:var(--size-2) var(--size-4); border:1px solid;}
.sfl-row{display:grid; padding:var(--size-3) 0; grid-template-columns:auto auto 1fr auto; grid-gap:var(--size-2);}
.sfl-question{border-bottom:1px dashed;}





@media screen and (min-width:0px) and (max-width:1279px){
  .desktop-only, .share-box-static{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  nav{position:fixed; top:var(--size-7); left:-100vh; width:var(--menu-size); height:calc(100vh - (var(--size-7) * 2));}
  .nav-label{}
}





@media screen and (min-width:1280px){
  :root, :before, :after{
    --default-fontsize:16px;
  }
  .mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  
  
  
  .rancak-container{grid-template-columns:var(--menu-size) 1fr;}
  
  
  
  nav{position:-webkit-sticky; position:sticky; left:0; width:100%; height:100vh;}
}
