*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1280px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --menu-size:240px;
  --bg-1:#FAFAFA;
}



body, html{font-family:'Nunito',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh;}
body{background-color:var(--bg-1); overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-4) var(--size-5); -webkit-appearance:none; text-transform:uppercase; font-weight:bold;
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.toyota-logo{--aspect-ratio:377/271;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.default-box{border:1px solid;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block; padding-top:calc(100% / calc(var(--aspect-ratio)));}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.section-title{display:flex; align-items:flex-start;}
.section-title .svgicon, .section-title-label{line-height:140%;}
.section-title .svgicon{width:auto; position:relative;}
.section-title-label{margin-left:var(--size-3); text-transform:uppercase; font-weight:normal;}
.section-title-info{margin-left:var(--size-3);}
.section-title-info .svgicon{width:auto; height:var(--size-4);}
.section-default{display:grid; grid-gap:var(--size-3);}



.section-search{display:grid; grid-template-columns:1fr auto auto;}
.section-search-field{padding:var(--size-4); width:100%;}
.section-search-filter{padding:0 var(--size-4); border-left:1px solid; border-right:2px solid;}
.section-search-filter .svgicon{width:auto; height:var(--size-4);}
button.section-search-button{padding:var(--size-4);}



.rancak-container{display:grid; min-height:100vh; grid-auto-rows:min-content;}
.rancak-content{display:grid; grid-gap:var(--size-5); grid-auto-rows:min-content;}



nav{z-index:calc(var(--max-zindex) - 5000); top:0; overflow-x:hidden; overflow-y:auto;}
nav::-webkit-scrollbar{width:0px;}
.nav-list{display:grid; grid-template-columns:auto 1fr auto; grid-gap:var(--size-3); width:100%; padding:0 var(--size-4); border-bottom:1px solid; font-weight:normal;}
.nav-list > *{display:flex; align-items:center; height:var(--size-6);}
.nav-list .svgicon{width:16px; height:auto;}
.nav-sub{display:none;}
.nav-sub .nav-list{border-style:dashed;}
.nav-box > .nav-open, .nav-curr{font-weight:900;}
.nav-open .nav-arrow-toogle .svgicon{transform:rotate(180deg);}



.rancak-content{padding:var(--size-4); min-height:100vh;}



header{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 4000); top:var(--size-4); display:flex; justify-content:space-between;}
.header-left, .header-right{display:flex;}
.header-button{height:var(--size-6); padding:0 var(--size-3);}
.header-button .svgicon, .header-home-frame{width:auto; height:var(--size-4);}

.header-menu-toggle{padding-left:var(--size-4);}
.header-home-frame{width:30px;}
.header-profile{--aspect-ratio:1/1; display:flex; align-items:center; padding-right:var(--size-4);}
.header-profile-frame{width:var(--size-4); height:var(--size-4); margin-right:var(--size-3);}



.form-box-container{--icon-size:var(--size-6); position:relative;}
.form-box-field{position:relative; z-index:2000; width:100%; padding:var(--size-4); border:1px solid;}
.form-password-field{padding-right:var(--icon-size);}
.form-box-title{position:absolute; z-index:1; top:0; left:0; width:100%; height:100%; padding:var(--size-4); text-transform:capitalize;}
.form-toggle-password{position:absolute; z-index:3000; top:0; right:0; width:var(--icon-size); height:100%;}
.form-toggle-password .svgicon{width:auto; height:var(--size-4);}
.form-toggle-password.show-pass .svgicon-pass-show, .form-toggle-password.hide-pass .svgicon-pass-hide{display:none;}
.form-box-note{margin-top:var(--size-2); font-size:12px; font-style:italic;}

.form-box-field:focus + .form-box-title,
.form-box-field:valid + .form-box-title{z-index:4000; top:calc(var(--size-2) * -1); left:var(--size-2); width:auto; height:auto; padding:0 var(--size-3); line-height:100%;}



.section-faq-list{display:grid; grid-gap:var(--size-2);}
.sfl-box{padding:var(--size-2) var(--size-4);}
.sfl-row{display:grid; padding:var(--size-3) 0; grid-template-columns:auto auto 1fr auto; grid-gap:var(--size-2);}
.sfl-question{border-bottom:1px dashed;}
.sfl-more{display:flex; align-items:center;}



.default-tab{display:grid;}
.default-tab-link{height:var(--size-6); font-weight:normal; border-left:1px solid; padding:0 var(--size-4);}
.default-tab-link:first-child{border-left:0;}
.default-tab-curr{font-weight:900;}



.default-data{display:grid; grid-gap:0 var(--size-6);}
.default-data-box{display:grid;}
.ddb-row{display:grid; grid-gap:var(--size-3); grid-template-columns:var(--ddb-label) 4px 1fr; border-bottom:1px dashed;}
.ddb-label, .ddb-separator, .ddb-content{padding-top:var(--size-3); padding-bottom:var(--size-3);}

.default-data-input{grid-gap:var(--size-3) var(--size-6);}
.default-data-input .default-data-box{grid-gap:var(--size-3);}
.default-data-input .ddb-row{padding-bottom:var(--size-3);}
.ddb-content-field, .ddb-content-disable{padding-left:var(--size-3); padding-right:var(--size-3); border:1px solid; width:100%;}
.ddb-content{font-weight:bold;}
div.ddb-content{display:flex; align-items:center;}
div.ddb-content .svgicon{width:auto; height:var(--size-3); margin-left:var(--size-2);}
.ddb-info{position:relative;}
.ddb-select .ddb-content-field{position:relative; z-index:1000; padding-right:var(--size-5);}
.ddb-select .svgicon{position:absolute; z-index:1; top:0; right:0; width:var(--size-3); height:47px; padding:0 var(--size-3); box-sizing:content-box;}
textarea.ddb-content-field{min-height:144px;}



.bottom-button-list{display:flex; flex-wrap:wrap;}
.bbl-button{margin-right:var(--size-3); margin-bottom:var(--size-3);}





@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  .section-title .svgicon{height:16px; top:var(--size-1);}
  .section-title-label{font-size:20px;}
  
  
  
  .default-table-head, .default-table-search{display:none !important; visibility:hidden; content-visibility:hidden;}
  .default-table, .default-table-row{display:grid; grid-gap:var(--size-3);}
  .default-table-row{padding:var(--size-3); border:1px solid;}
  .default-table-column{display:grid; grid-gap:var(--size-1) var(--size-2); grid-template-columns:95px 4px 1fr; padding-bottom:var(--size-3); border-bottom:1px dashed;}
  
  
  
  .default-tab{grid-auto-flow:column; overflow-x:auto !important;}
  
  
  
  .ddb-row{--ddb-label:95px;}
  
  
  
  @media screen and (min-width:568px){
    .ddb-row{--ddb-label:160px;}
  }
}





@media screen and (min-width:0px) and (max-width:1279px){
  nav{position:fixed; top:var(--size-7); left:-100vh; width:var(--menu-size); height:calc(100vh - (var(--size-7) * 2));}
}





@media screen and (min-width:1024px){
  .mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  
  
  
  .section-title .svgicon{height:22px; top:var(--size-2);}
  .section-title-label{font-size:30px;}
  
  
  
  .default-table{display:table; border:1px solid;}
  .default-table-row, .default-table-column{ padding:var(--size-2);}
  .default-table-row{display:table-row;}
  .default-table-row:last-child .default-table-column{border-bottom:0;}
  .default-table-head .default-table-column{font-weight:bold; vertical-align:bottom;}
  .default-table-column{display:table-cell; border-bottom:1px solid; text-align:center;}
  
  .dts-box{border:1px solid; width:100%; padding:var(--size-2) var(--size-3); font-size:12px;}
  .dtc-data{text-align:center;}
  
  .column-plate{width:130px;}
  .column-vin{width:90px; word-wrap:break-word; word-break:break-word; hyphens:auto;}
  .column-brand{width:70px;}
  .column-year{width:65px;}
  .column-immobilizer{width:90px;}
  .column-reminder{width:100px;}
  .column-status{width:95px;}
  .column-remarks{width:90px;}
  .column-remarks .dtc-data{display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden;}
  
  
  
  .default-tab{grid-template-columns:repeat(auto-fit, minmax(var(--size-6),1fr));}
  
  
  
  .default-data{grid-template-columns:repeat(2,1fr);}
  .ddb-row{--ddb-label:160px;}
}





@media screen and (min-width:1280px){
  .rancak-container{grid-template-columns:var(--menu-size) 1fr;}
  
  
  
  nav{position:-webkit-sticky; position:sticky; left:0; width:100%; height:100vh;}
}
